# Data
data/
*.zip
*.tar

# Models
models/
*.pth
*.pt

# Environment
__pycache__/
.venv/
venv/
*.env
mlruns/

# Python build / packaging artifacts
*.egg-info/
build/
dist/

# Test / temporary artifacts
tests_backup_*/
.pytest_cache/
.coverage
htmlcov/

# Git / local metadata
FETCH_HEAD

# Notebooks outputs
.ipynb_checkpoints/

config/gcp.yaml
*.env
